VisualElement {
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.highlight {
    background-color: rgba(255, 223, 93, 0.51);
    transition-property: background-color;
    transition-duration: 0.5s;
}

.highlight.fadeOut {
    background-color: transparent;
}

.warningMessage {
    background-color: rgba(255, 246, 136, 255);
}

.errorMessage {
    background-color: rgb(255, 152, 136);
}
